@using Hotel.Data.Data.CMS
@model IEnumerable<Media>

@{
    ViewData["Title"] = "Media";
}

<p>
    <a class="btn btn-primary" asp-action="Create">+ Dodaj</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th class="col-1">
                Podgląd
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.RelatedObjectType)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.FileType)
            </th>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th class="col-3">Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                <img src="~/content/media/@item.RelatedObjectType/@item.FilePath" class="image-preview" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedObjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a class="btn btn-warning btn-sm text-white" asp-action="Edit" asp-route-id="@item.IdMedia">✎ Edytuj</a> |
                <a class="btn btn-info btn-sm text-white" asp-action="Details" asp-route-id="@item.IdMedia">📄 Szczegóły</a> |
                <a class="btn btn-danger btn-sm text-white" asp-action="Delete" asp-route-id="@item.IdMedia">⛌ Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
