@model Hotel.PortalWWW.Models.Rooms.Room

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Typ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Typ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiczbaOsob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiczbaOsob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPokoju">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
