@using Hotel.Data.Data.Rooms
@model IEnumerable<Room>

@{
    ViewData["Title"] = "Pokoje";
}

<p>
    <a class="btn btn-primary" asp-action="Create">+ Dodaj</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.Typ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numer)
            </th>
            <th class="col-4">
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LiczbaOsob)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="col-1">
                Media
            </th>
            <th class="col-3">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Typ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LiczbaOsob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.Media != null)
                    {
                        <img src="~/content/media/rooms/@item.Media.FilePath" class="image-preview" />

                    }
                </td>
                <td>
                    <a class="btn btn-warning btn-sm text-white" asp-action="Edit" asp-route-id="@item.IdPokoju">✎ Edytuj</a> |
                    <a class="btn btn-info btn-sm text-white" asp-action="Details" asp-route-id="@item.IdPokoju">📄 Szczegóły</a> |
                    <a class="btn btn-danger btn-sm text-white" asp-action="Delete" asp-route-id="@item.IdPokoju">⛌ Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
