@using Hotel.Data.Data.Users
@model User

@{
    ViewData["Title"] = "Usuń użytkownika";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Usuń użytkownika</h4>
        </div>
        <div class="card-body">
            <h5 class="text-danger">Czy na pewno chcesz usunąć tego użytkownika?</h5>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Rola)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Rola)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Imie)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Imie)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Nazwisko)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nazwisko)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Telefon)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Telefon)
                </dd>
            </dl>

            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="IdUzytkownika" />
                <div class="text-end">
                    <input type="submit" value="Usuń" class="btn btn-danger me-2" />
                    <a asp-action="Index" class="btn btn-secondary">⬅ Powrót do listy</a>
                </div>
            </form>
        </div>
    </div>
</div>