@model IEnumerable<User>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary" asp-action="Create">+ Dodaj</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Haslo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Haslo)
            </td>
            <td>
                <a class="btn btn-warning btn-sm text-white" asp-action="Edit" asp-route-id="@item.IdUzytkownika">✎ Edytuj</a> |
                <a class="btn btn-info btn-sm text-white" asp-action="Details" asp-route-id="@item.IdUzytkownika">📄 Szczegóły</a> |
                <a class="btn btn-danger btn-sm text-white" asp-action="Delete" asp-route-id="@item.IdUzytkownika">⛌ Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
