@using Hotel.Data.Data.Messages
@model IEnumerable<Message>

@{
    ViewData["Title"] = "Wiadomości";
}

<p>
    <a class="btn btn-primary" asp-action="Create">+ Dodaj</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th class="col-2">
                @Html.DisplayNameFor(model => model.Temat)
            </th>
            <th class="col-3">
                @Html.DisplayNameFor(model => model.Tresc)
            </th>
            <th class="col-1">
                @Html.DisplayNameFor(model => model.DataWyslania)
            </th>
            <th class="col-1">
                Nadawca
            </th>
            <th class="col-1">
                Odbiorca
            </th>
            <th class="col-1">
                Status
            </th>
            <th class="col-3">Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Temat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tresc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataWyslania)
                </td>
                <td>
                    @* Wyświetlanie Nadawcy *@
                    @foreach (var userMessage in item.UserMessages)
                    {
                        @($"{userMessage.Sender.Imie} {userMessage.Sender.Nazwisko} <{userMessage.Sender.Email}>")
                    }
                </td>
                <td>
                    @* Wyświetlanie Odbiorcy *@
                    @foreach (var userMessage in item.UserMessages)
                    {
                        @($"{userMessage.Recipient.Imie} {userMessage.Recipient.Nazwisko} <{userMessage.Recipient.Email}>")
                    }
                </td>
                <td>
                    @* Wyświetlanie statusu *@
                    @foreach (var userMessage in item.UserMessages)
                    {
                        @Enum.GetName(typeof(MessageStatus), userMessage.Status)
                    }
                </td>
                <td>
                    <a class="btn btn-warning btn-sm text-white" asp-action="Edit" asp-route-id="@item.IdWiadomosci">✎ Edytuj</a> |
                    <a class="btn btn-info btn-sm text-white" asp-action="Details" asp-route-id="@item.IdWiadomosci">📄 Szczegóły</a> |
                    <a class="btn btn-danger btn-sm text-white" asp-action="Delete" asp-route-id="@item.IdWiadomosci">⛌ Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
