@using Hotel.Data.Data.Reservations
@model Reservation

@{
    ViewData["Title"] = "Usuń rezerwację";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Usuń rezerwację</h4>
        </div>
        <div class="card-body">
            <h5 class="text-danger">Czy na pewno chcesz usunąć tę rezerwację?</h5>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.DataRozpoczecia)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DataRozpoczecia)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.DataZakonczenia)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DataZakonczenia)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.TypRezerwacji)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TypRezerwacji)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.UzytkownikId)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UzytkownikId)
                </dd>
            </dl>

            <form asp-action="Delete" method="post">
                <input type="hidden" asp-for="IdRezerwacji" />
                <div class="text-end">
                    <input type="submit" value="Usuń" class="btn btn-danger me-2" />
                    <a asp-action="Index" class="btn btn-secondary">⬅ Powrót do listy</a>
                </div>
            </form>
        </div>
    </div>
</div>