@model IEnumerable<Hotel.PortalWWW.Models.Atractions.Atraction>

@{
    ViewData["Title"] = "Atrakcje";
}

<p>
    <a class="btn btn-primary" asp-action="Create">+ Dodaj</a>
</p>
<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm text-white" asp-action="Edit" asp-route-id="@item.IdAtrakcji">✎ Edytuj</a>
                    <a class="btn btn-info btn-sm text-white" asp-action="Details" asp-route-id="@item.IdAtrakcji">📄 Szczegóły</a>
                    <a class="btn btn-danger btn-sm text-white" asp-action="Delete" asp-route-id="@item.IdAtrakcji">⛌ Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

